In [14]:

import pandas as pd
import numpy as np
import altair as alt
KOF=pd.read_csv('Datasets/KOFGI_2022_public_original.csv')

KOF=KOF.dropna() # droping missing value 
KOF_df=pd.DataFrame(KOF)
KOF_df.head(10) # Overview of the  KOF data set

,code,country,year,KOFGI,KOFGIdf,KOFGIdj,KOFEcGI,KOFEcGIdf,KOFEcGIdj,KOFTrGI,...,KOFIpGIdj,KOFInGI,KOFInGIdf,KOFInGIdj,KOFCuGI,KOFCuGIdf,KOFCuGIdj,KOFPoGI,KOFPoGIdf,KOFPoGIdj
158,AGO,Angola,1975,27.0,33.0,21.0,33.0,38.0,28.0,40.0,...,11.0,25.0,39.0,11.0,19.0,29.0,10.0,29.0,35.0,23.0
159,AGO,Angola,1976,30.0,33.0,26.0,33.0,38.0,28.0,40.0,...,14.0,25.0,39.0,11.0,20.0,29.0,10.0,37.0,35.0,38.0
160,AGO,Angola,1977,30.0,33.0,27.0,33.0,38.0,28.0,40.0,...,11.0,25.0,39.0,11.0,20.0,29.0,11.0,39.0,35.0,42.0
161,AGO,Angola,1978,30.0,33.0,28.0,33.0,38.0,28.0,40.0,...,12.0,25.0,39.0,11.0,18.0,29.0,8.0,40.0,35.0,45.0
162,AGO,Angola,1979,28.0,33.0,22.0,33.0,37.0,28.0,40.0,...,12.0,25.0,39.0,11.0,18.0,29.0,8.0,32.0,35.0,29.0
163,AGO,Angola,1980,30.0,33.0,27.0,33.0,37.0,28.0,39.0,...,12.0,25.0,40.0,11.0,18.0,28.0,8.0,39.0,35.0,44.0
164,AGO,Angola,1981,28.0,34.0,22.0,34.0,39.0,28.0,41.0,...,12.0,25.0,38.0,11.0,18.0,27.0,9.0,31.0,35.0,26.0
165,AGO,Angola,1982,29.0,32.0,27.0,32.0,36.0,28.0,38.0,...,13.0,24.0,37.0,11.0,18.0,26.0,10.0,37.0,35.0,40.0
166,AGO,Angola,1983,30.0,32.0,28.0,32.0,36.0,28.0,39.0,...,13.0,23.0,36.0,11.0,17.0,26.0,8.0,40.0,35.0,45.0
167,AGO,Angola,1984,31.0,32.0,30.0,34.0,37.0,31.0,40.0,...,13.0,23.0,34.0,11.0,17.0,25.0,9.0,42.0,35.0,49.0

### We will only work with the following countries for the period from 1990 until 2020:
### United States of America (USA ) , JAPAN (JPN) , FRANCE (FRA), GERMANY (DEU), BRASIL (BRA), CHINA (CHN), SOUTH AFRICA (ZAF), INDIA(IND) and HONG KONG (HKG)

In [15]:
# let's select the countries that interest us
KOF_df = KOF_df[(KOF_df['code'] == 'USA') | (KOF_df['code'] == 'JPN') | (KOF_df['code'] == 'FRA') | (KOF_df['code'] == 'DEU') | (KOF_df['code'] == 'BRA') | (KOF_df['code'] == 'CHN') | (KOF_df['code'] == 'ZAF') | (KOF_df['code'] == 'IND') | (KOF_df['code'] == 'HKG')]

#  Now let's select years between 1990 and 2020
KOF_df=KOF_df[(KOF_df['year'] >= 1990) & (KOF_df['year'] <= 2020)]

# Here is a overview of our new data frame
KOF_df.head(10)

,code,country,year,KOFGI,KOFGIdf,KOFGIdj,KOFEcGI,KOFEcGIdf,KOFEcGIdj,KOFTrGI,...,KOFIpGIdj,KOFInGI,KOFInGIdf,KOFInGIdj,KOFCuGI,KOFCuGIdf,KOFCuGIdj,KOFPoGI,KOFPoGIdf,KOFPoGIdj
1295,BRA,Brazil,1990,42.0,44.0,40.0,28.0,24.0,31.0,26.0,...,32.0,39.0,32.0,46.0,40.0,29.0,51.0,65.0,85.0,46.0
1296,BRA,Brazil,1991,44.0,43.0,44.0,27.0,23.0,31.0,27.0,...,32.0,39.0,31.0,46.0,38.0,30.0,46.0,71.0,84.0,58.0
1297,BRA,Brazil,1992,45.0,45.0,45.0,29.0,27.0,32.0,28.0,...,33.0,40.0,31.0,50.0,38.0,29.0,47.0,72.0,84.0,60.0
1298,BRA,Brazil,1993,46.0,46.0,46.0,30.0,29.0,32.0,29.0,...,32.0,41.0,30.0,52.0,40.0,32.0,47.0,73.0,84.0,62.0
1299,BRA,Brazil,1994,48.0,45.0,50.0,29.0,25.0,33.0,29.0,...,33.0,41.0,30.0,52.0,39.0,34.0,44.0,81.0,86.0,75.0
1300,BRA,Brazil,1995,49.0,45.0,54.0,30.0,24.0,36.0,30.0,...,34.0,43.0,31.0,55.0,40.0,37.0,44.0,82.0,84.0,80.0
1301,BRA,Brazil,1996,50.0,46.0,55.0,31.0,25.0,37.0,29.0,...,35.0,46.0,31.0,60.0,41.0,37.0,44.0,84.0,87.0,81.0
1302,BRA,Brazil,1997,52.0,48.0,56.0,32.0,26.0,38.0,29.0,...,37.0,53.0,44.0,63.0,42.0,38.0,45.0,83.0,86.0,81.0
1303,BRA,Brazil,1998,52.0,48.0,57.0,34.0,27.0,40.0,28.0,...,39.0,54.0,45.0,63.0,43.0,40.0,45.0,83.0,84.0,82.0
1304,BRA,Brazil,1999,54.0,50.0,58.0,37.0,33.0,41.0,28.0,...,41.0,55.0,47.0,63.0,44.0,42.0,46.0,83.0,84.0,83.0