In [27]:
import pandas as pd

# https://ca.investing.com/indices/us-spx-500-historical-data 
df = pd.read_csv('./Datasets/S&P500-USA.csv', thousands=",")

pattern = r'\d\d\d\d-01-01'
df = df[df['Date'].str.contains(pattern)]
df = df.reset_index(drop=True).iloc[::-1]

df['YoY Change'] = df['Price'].pct_change()*100
df.drop(columns=['Vol.'], inplace=True)
df.dropna(inplace=True)

df.to_csv('./Datasets/S&P500-USA-Clean.csv')

         Date    Price     Open     High      Low  Vol. Change %
0  2023-11-01  4538.88  4203.62  4557.17  4196.92   NaN    8.23%
1  2023-10-01  4193.80  4280.50  4393.73  4103.49   NaN   -2.20%
2  2023-09-01  4288.05  4534.42  4540.16  4238.53   NaN   -4.87%
3  2023-08-01  4507.66  4576.21  4584.24  4337.77   NaN   -1.77%
4  2023-07-01  4588.96  4444.17  4606.00  4385.18   NaN    3.11%

AttributeError: module 'pandas' has no attribute 'to_csv'