In [26]:
import pandas as pd 
import numpy as np

In [42]:
df = pd.read_csv(r'C:\Users\Ismail\OneDrive\Documents\ETUDE\3rd year\FALL TERM\SDS3386\Project\Globalization-Index-Analysis\Datasets\Nifty50-IND.csv')
df.head()

          Date      Open      High       Low     Close
0  21 Nov 2023  10065.60  10124.90  10032.95  10105.50
1  20 Nov 2023  10041.65  10127.90  10022.15  10044.10
2  17 Nov 2023   9945.25  10043.55   9934.15  10033.85
3  16 Nov 2023   9833.70   9964.55   9820.35   9933.60
4  15 Nov 2023   9867.70   9870.15   9791.25   9822.60

In [45]:
df = df[['Date', 'Close']]

In [51]:
new_df = df[df['Date'].str[3:6].isin(['Dec', 'Nov' ,'Jan'])]
new_df['Year'] = new_df['Date'].str[-4:]
grouped_by_year = new_df.groupby('Year')

def get_first_last(group):
    return pd.concat([group.head(1), group.tail(1)])

first_last = grouped_by_year.apply(get_first_last)
first_last = first_last.reset_index(drop=True)

new_df = first_last

C:\Users\Ismail\AppData\Local\Temp\ipykernel_4004\3879936116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Year'] = new_df['Date'].str[-4:]

In [65]:
def calculate_percentage_change(group):
    if len(group) >= 2:
        before_value = group.iloc[0]['Close']
        after_value = group.iloc[-1]['Close']
        percentage_change = ((after_value - before_value) / before_value) * 100
        group['Percentage Change'] = percentage_change
    else:
        group['Percentage Change'] = 0  
    return group

x = new_df.groupby('Year').apply(calculate_percentage_change)

x.drop(['Year'],axis=1, inplace=True)

x

                Date     Close  Percentage Change
Year
1990 0   24 Dec 1990    330.86          29.423321
     1   07 Nov 1990    428.21          29.423321
1991 2   24 Dec 1991    558.63         -42.904964
     3   02 Jan 1991    318.95         -42.904964
1992 4   24 Dec 1992    761.31         -24.758640
...              ...       ...                ...
2021 63  01 Jan 2021  14018.50         -19.220585
2022 64  30 Dec 2022  18105.30          -2.648948
     65  03 Jan 2022  17625.70          -2.648948
2023 66  21 Nov 2023  10105.50          80.074712
     67  02 Jan 2023  18197.45          80.074712

[68 rows x 3 columns]